<h1> LA PALABRA DEL DIA</h1>

<P>El objetivo del juego es simple, adivinar la palabra oculta. La palabra tiene 5 letras y tienes 8 intentos en el nivel facil ,6 intentos en el nivel medio y 3 intentos en el nivel dificil
 para adivinarla. 

  En cada ronda el juego pinta cada letra de un color indicando si esa letra se encuentra o no en la palabra y 
  si se encuentra en la posición correcta.
  
  

<ul><H3>significado de colores </H3>

    <li>verde</li>

    <p>VERDE significa que la letra está en la palabra y en la posición CORRECTA.</p>

    <li>amarillo</li>
    <p>AMARILLO significa que la letra letra está presente en la palabra pero en la posición INCORRECTA.</p>
    <li>gris</li>
    <p>GRIS significa que la letra letra NO está presente en la palabra.</p>
    
<h1>SELECCIONAR NIVEL</h1>
   
</ul>


<button routerLink="/tablero" (click)="facil()" class="enviar">facil </button>
<button routerLink="/tablero" (click)="medio()" class="enviar">medio</button>
<button routerLink="/tablero" (click)="dificil()" class="enviar">dificil</button>
